<div class="container nav-container">
  <div> Donar </div>

  <nav>
    <ul>
      <li><a href="#intro">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <a href=""><button class="btn">Donate Now</button></a>
</div>

<section id="intro">
  <div class="first-child">
    <h1>
      <span class="help-design">Helping</span>
      Each Other <br />
      Can Make The World <br />
      <span class="better-design"> Better</span>
    </h1>

    <p>
      We Seek out world changers and difference makers around <br />S the
      globe, and equip them to fulfill their unique purpose.
    </p>

    <a href=""><button class="btn btn-primary">Donate Now</button></a>
  </div>

  <div class="second-child">
    <div>
      <div>
        <div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-container for-border">
    <h6>Our Plan Involes you</h6>
    <h2>How to help</h2>
    <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo.
      Est lorem ipsum <br />
      dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum
      leo. Est lorem ipsum <br />
      dolor sit. Vulputate eu scelerisque</p>

    <a href=""><button class="btn btn-primary">Donate Now</button></a>
  </div>

  <div class="section-container flex-container" id="about">
    <div class="img-container">
      <span>
      </span>
    </div>

    <div>
      <h6>About Us</h6>
      <h2>Your Support is ReallyPowerful.​</h2>
      <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo.
        Est lorem ipsum <br />
        dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum
        leo. Est lorem ipsum <br />
        dolor sit. Vulputate eu scelerisque</p>

      <a href=""><button class="btn btn-primary">Donate Now</button></a>
    </div>
  </div>

  <div id="section-container">
    <div class="section-container for-border">
      <h6>Our Goals so far_____</h6>
      <h2>We Believe that We can Help More People with you​</h2>
      <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo.
        Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet
        proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu
        scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum
        dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum
        leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque felis
        imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate
        eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum
      </p>

      <a href=""><button class="btn btn-primary">Donate Now</button></a>
    </div>
  </div>

  <div class="section-container flex-container">
    <div class="img-container">
      <span></span>
    </div>

    <div>
      <h6>About Us</h6>
      <h2>Your Support is ReallyPowerful.​</h2>
      <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo.
        Est lorem ipsum <br />
        dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum
        leo. Est lorem ipsum <br />
        dolor sit. Vulputate eu scelerisque</p>

      <a href=""><button class="btn btn-primary">Donate Now</button></a>
    </div>


<section id="flex-section-container">
  <div class="section-header">
    <h2>How we handle our process</h2>
    <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo.
      Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet proin
      fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque</p>
  </div>

  <div class="flex-section">
    <div class="active">
      <span>01</span>
      <h4>Lorem lorem loremlorem</h4>
      <p>lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum </p>
    </div>

    <div>
      <span>02</span>
      <h4>Lorem lorem loremlorem</h4>
      <p>lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum </p>
    </div>

    <div>
      <span>03</span>
      <h4>Lorem lorem loremlorem</h4>
      <p>lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum </p>
    </div>

    <div>
      <span>04</span>
      <h4>Lorem lorem loremlorem</h4>
      <p>lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum </p>
    </div>

    <div>
      <span>05</span>
      <h4>Lorem lorem loremlorem</h4>
      <p>lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum </p>
    </div>

    <div>
      <span>06</span>
      <h4>Lorem lorem loremlorem</h4>
      <p>lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum lorem orem lorem ispunum </p>
    </div>

  </div>
</section>

<section id="founder-section">
  <h5>____Our Testimonials____</h5>
  <h2>What People Say</h2>

  <div>
    <span></span>
    <h4>Hokage Isobu</h4>
    <h6>Founder</h6>
  </div>
  <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu
    scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque</p>
</section>

<footer id="contact">
  <div class="first-child">
    <div class="form-container">
      <h4>Sign Up to Receive Product Updates and More</h4>
      <form action="post">
        <input type="email" placeholder="example@gmail.com">
      </form>
    </div>

    <div class="location">
      <div>
        <div>
          <h4>office</h4>
          <p>566, Konoha road, shinobi, <br> saiken state.</p>
        </div>
      </div>

      <div>
        <div>
          <h4>contact</h4>
          <p>+345271927371<br> infoo@gma.net</p>
        </div>
      </div>
    </div>
  </div>

  <div class="copy-right">
    <div>
      <span>2022. All Rights Reserved</span>
      <span>Terms & Conditions</span>
      <span> Privacy</span>
    </div>

    <div>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-globe"></i>
    </div>
  </div>
</footer>
